.violet {
    background-color: $violet;
    color: $white;
    & .violet-inner {
      @include gridder(5rem, 2fr, 1fr);
      & > div {
        & .violet-title {
          font-size: 38px;
          font-family: uncutBold;
        }
        & .violet-text {
          margin: 30px 0;
        }
        & a {
          @include primary_button($white, $violet);
        }
      }
      & img {
        width: 100%;
      }
    }
  }