.white {
    color: $violet;
    & .white-inner {
      @include gridder(5rem, 2fr, 1fr);
      & > div {
        & .white-title {
          font-size: 38px;
          font-family: uncutBold;
          line-height: 60px;
        }
        & .white-text {
          margin: 30px 0;
        }
        & a {
          @include primary_button($violet, $white);
        }
      }
      & img {
        width: 100%;
      }
    }
  }
  