@font-face {
  font-family: uncutBold;
  src: url("../../public/fonts/Uncut-Sans-Bold.woff2");
}
@font-face {
  font-family: uncutRegular;
  src: url("../../public/fonts/Uncut-Sans-Regular.woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: uncutRegular;
  line-height: 28.8px;
}

nav {
  color: #fcfeff;
  background-color: #7e67ff;
  padding: 25px 0;
}
nav .navbar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .navbar img {
  width: 4%;
}
nav .navbar ul li {
  display: inline;
  list-style: none;
}
nav .navbar ul li a {
  text-decoration: none;
  color: #fcfeff;
}
nav .navbar ul li:not(:last-child) {
  margin-right: 50px;
}
nav ul {
  display: none;
}

.hero {
  background-color: #7e67ff;
  color: #fcfeff;
}
.hero .hero-inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  width: 65%;
  margin: auto;
  align-items: center;
  padding: 80px 0;
}
.hero .hero-inner > div .hero-title {
  font-size: 38px;
  font-family: uncutBold;
}
.hero .hero-inner > div .hero-text {
  margin: 30px 0;
}
.hero .hero-inner > div a {
  text-decoration: none;
  background-color: #fcfeff;
  color: #7e67ff;
  padding: 10px 100px;
  display: inline-block;
  border-radius: 5px;
}
.hero .hero-inner img {
  width: 100%;
}

.free {
  color: #7e67ff;
}
.free .free-inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  width: 65%;
  margin: auto;
  align-items: center;
  padding: 80px 0;
}
.free .free-inner > div .free-title {
  font-size: 38px;
  font-family: uncutBold;
}
.free .free-inner > div .free-text {
  margin: 30px 0;
}
.free .free-inner > div a {
  text-decoration: none;
  background-color: #7e67ff;
  color: #fcfeff;
  padding: 10px 100px;
  display: inline-block;
  border-radius: 5px;
}
.free .free-inner img {
  width: 100%;
}

.rocket {
  color: #7e67ff;
}
.rocket .rocket-inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  width: 65%;
  margin: auto;
  align-items: center;
  padding: 80px 0;
}
.rocket .rocket-inner > div .rocket-title {
  font-size: 38px;
  font-family: uncutBold;
}
.rocket .rocket-inner > div .rocket-text {
  margin: 30px 0;
}
.rocket .rocket-inner > div a {
  text-decoration: none;
  background-color: #7e67ff;
  color: #fcfeff;
  padding: 10px 100px;
  display: inline-block;
  border-radius: 5px;
}
.rocket .rocket-inner img {
  width: 100%;
}

.world {
  background-color: #7e67ff;
  color: #fcfeff;
}
.world .world-inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  width: 65%;
  margin: auto;
  align-items: center;
  padding: 80px 0;
}
.world .world-inner > div .world-title {
  font-size: 38px;
  font-family: uncutBold;
}
.world .world-inner > div .world-text {
  margin: 30px 0;
}
.world .world-inner > div a {
  text-decoration: none;
  background-color: #fcfeff;
  color: #7e67ff;
  padding: 10px 100px;
  display: inline-block;
  border-radius: 5px;
}
.world .world-inner img {
  width: 100%;
}

@media screen and (max-width: 966px) {
  nav .navbar {
    width: 100%;
  }
  nav .navbar img {
    width: 8%;
  }
}
@media screen and (min-width: 831px) {
  nav .navbar ul {
    display: flex;
  }
  nav .bar {
    display: none;
  }
}
@media screen and (max-width: 831px) {
  nav .navbar {
    width: 90%;
    justify-content: space-between;
  }
  nav .navbar img {
    width: 8%;
  }
  nav .navbar ul {
    display: none;
  }
  nav .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  nav .mobile-nav li {
    list-style: none;
  }
  nav .mobile-nav li a {
    text-decoration: none;
    color: #fcfeff;
  }
}
@media screen and (max-width: 650px) {
  nav .navbar img {
    width: 10%;
  }
}
@media screen and (max-width: 417px) {
  nav .navbar img {
    width: 15%;
  }
}